target/META-INF/mule-src/ds-exchange-rates-service-process-api/src/main/mule/ds-exchange-rates-service-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:core="http://www.mulesoft.org/schema/mule/core"
    xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
    xmlns:java="http://www.mulesoft.org/schema/mule/java"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-ee-tracking.xsd">



	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1416f109-3eb0-41be-930f-2740faf0093a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	  <flow name="get-exchange-ratesFlow" doc:id="17810916-d32e-4c31-adce-66af6bc4e3f2" >
        <http:listener doc:name="Listen for HTTP requests" doc:id="e99b550a-73cc-4256-8fb9-72896e7b8c3b" config-ref="HTTP_Listener_config" path="/get/exchange-rate/rates" outputMimeType="application/json">
        </http:listener>
       <logger level="INFO" doc:name="Start of the flow Logger" doc:id="e6bad33a-dc33-48c5-80fe-3aba524460fe" message='#["Clear the Exchange Rates Logger started at " ++ now()]'/>
        <java:new constructor="CurrencyConversionService()" doc:name="New Instance" doc:id="ccb62838-6834-47a6-9e96-a04df548f565" class="com.currency.utils.CurrencyConversionService" target="newExchangeRates" />
        <java:invoke method="areExchangeRatesAvailable()" doc:name="Invoke Get Exchange Rates" doc:id="840391d4-8826-47f2-a0d8-3471163c7fa7" instance="#[vars.newExchangeRates]" class="com.currency.utils.CurrencyConversionService" />
		<ee:transform doc:name="Transform Message" doc:id="5dbaaf1f-7245-4d35-b97b-3f4dae98072b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "exchangeRatesAvailable": payload default []
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="End of the flow Logger" doc:id="9c53d8aa-2bd3-40ba-886b-ef4c20871cfe" message='#["Clear the Exchange Rates Logger completed at " ++ now()]'/>
    </flow>
    <flow name="add-exchange-ratesFlow" doc:id="b68d176a-4029-4e52-a908-fbb8a95fed43">
        <http:listener doc:name="Listener" doc:id="9ab63f1e-8228-4021-81d9-fb1c61d1076c" config-ref="HTTP_Listener_config" path="/add/exchange-rate/rates"/>
		<logger level="INFO" doc:name="Start of the flow Logger" doc:id="7fba25e4-aed0-4218-b997-d6e35c63c7ac" message='#["Clear the Exchange Rates Logger started at " ++ now()]'/>
		<ee:transform doc:name="Transform Message" doc:id="9b9b60a2-c9d8-4f33-9889-40fb6ef63b2b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    "USD": 1.0,
    "EUR": 0.85,
    "JPY": 110.0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<java:new constructor="CurrencyConversionService()" doc:name="New Instance" doc:id="a39090aa-6ca1-4fa8-839b-59dd061e232f" class="com.currency.utils.CurrencyConversionService" target="newExchangeRates" />
		<set-payload value="#[{&#10;    'USD': 1.0,&#10;    'EUR': 0.85,&#10;    'JPY': 110.0,&#10;    'AUD': 1.35,&#10;    'INR': 74.50&#10;}]" doc:name="Set Payload" doc:id="e909c3f4-0d36-4cca-ae59-ff9ebe29e47c" />
		<java:invoke doc:name="Invoke Add Exchange Rates" doc:id="eae172e3-8af8-493c-a5ee-db115174bd76" instance="#[vars.newExchangeRates]" class="com.currency.utils.CurrencyConversionService" method="setExchangeRates(java.util.Map)">
			<java:args ><![CDATA[#[{rates: payload}]]]></java:args>
		</java:invoke>
		<ee:transform doc:name="Transform Message" doc:id="e1e20596-8c3b-4fd4-bbc1-3657ba3331bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End of the flow Logger" doc:id="686fd44c-f47b-498c-affc-8be3303b34a0" message='#["Clear the Exchange Rates Logger completed at " ++ now()]'/>
    </flow>
    <flow name="clear-exchange-ratesFlow" doc:id="9e6ef5e3-dd34-4ddf-b8dd-9781e704f988">
        <scheduler doc:name="Scheduler" doc:id="135f94d4-f513-4c1e-8bf2-bf17d9f94f86" >
			<scheduling-strategy >
				<cron expression="0 0 5 * * ?" timeZone="America/New_York" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start of the flow Logger" doc:id="587e9410-1caf-465f-aab5-b27f81ff54b3" message='#["Clear the Exchange Rates Logger started at " ++ now()]'/>
		<java:new constructor="CurrencyConversionService()" doc:name="New Instance" doc:id="d9502986-5c60-41b1-b184-72da90f96ff7" class="com.currency.utils.CurrencyConversionService" target="newExchangeRates" />
		<java:invoke doc:name="Invoke Clear Exchange Rates" doc:id="571327c2-80f2-4a3b-b9ec-129cba16a4b3" instance="#[vars.newExchangeRates]" class="com.currency.utils.CurrencyConversionService" method="clearExchangeRates()"/>
		<logger level="INFO" doc:name="End of the flow Logger" doc:id="20151496-8b08-4fc0-af32-96553018fe6c" message='#["Clear the Exchange Rates Logger completed at " ++ now()]'/>
    </flow>
    <flow name="convert-currencyFlow" doc:id="8aa69526-ac41-4489-a156-44bc8f975766">
        <http:listener doc:name="Listen for HTTP requests" doc:id="f48e4494-9701-4fa6-9d08-10a73293ed86" config-ref="HTTP_Listener_config" path="/exchange-rate/convert" outputMimeType="application/json">
        </http:listener>
      <logger level="INFO" doc:name="Start of the flow Logger" doc:id="ee785ec1-ee92-49e4-a06d-545e332e4803" message='#["Clear the Exchange Rates Logger started at " ++ now()]'/>
        <ee:transform doc:name="Transform Message" doc:id="53d1dba8-d459-4c83-9208-608d35dac798">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <java:new constructor="CurrencyConversionService()" doc:name="New Instance" doc:id="939b4e14-af68-4eac-aa72-3e30d0bf3db3" class="com.currency.utils.CurrencyConversionService" target="newExchangeRates" />
		<java:invoke doc:name="Invoke Currency Conversion" doc:id="862278e5-591e-43aa-9bc2-344266ac5ecf" class="com.currency.utils.CurrencyConversionService" method="convertCurrency(double,java.lang.String,java.lang.String)" instance="#[vars.newExchangeRates]" target="INSTANCE">
			<java:args ><![CDATA[#[{
    "amount": payload.amount,
    "fromCurrency": payload.fromCurrency,
    "toCurrency": payload.toCurrency
}]]]></java:args>
        </java:invoke>
        <choice doc:name="Choice" doc:id="5969ceae-9e71-49fc-bcaa-cc76caea7ff0" >
			<when expression="#[vars.INSTANCE != -1]">
				<ee:transform doc:name="Transform Message" doc:id="126b3aac-5b83-45ec-89f6-d17c71006710">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "convertedAmount": vars.INSTANCE
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="fef7a37b-1a96-4bad-a1ee-87bf923ff8a9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"Error while converting the data"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End of the flow Logger" doc:id="e03318f0-0338-49d6-b36e-7922dacdf9b7" message='#["Clear the Exchange Rates Logger completed at " ++ now()]'/>
    </flow>
</mule>
